/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centrar tarjeta en pantalla */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  font-family: Arial, sans-serif;
}



.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.qr-code {
  width: 100px;
  margin: 1rem auto;
}

a {
  color: #0066cc;
  text-decoration: none;
}